module Secrets exposing (marvelHash, marvelPublicKey)

import MD5


marvelPublicKey : String
marvelPublicKey =
    "give me your public key"


{-| see "Authentication for Server-Side Applications" in
<https://developer.marvel.com/documentation/authorization> for explanation
-}
marvelHash : String -> String
marvelHash timestamp =
    let
        privateKey =
            "give me your private key"
    in
    MD5.hex (timestamp ++ privateKey ++ marvelPublicKey)
